body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #4e342e;
}

header {
    background: #6d4c41;
    color: white;
    padding: 30px 20px;
}

.logo {
    width: 90px;
    height: auto;
}

.slogan {
    font-style: italic;
    margin-top: -10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.destinations {
    margin: 50px auto;
}

.destinations h2 {
    color: #4e342e;
    margin-bottom: 20px;
}

.destination-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.destination-card {
    width: 300px;
    background: #f3e7df;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.image-box {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.image-box:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.destination-card h3 {
    margin: 10px 0 15px 0;
    color: #4e342e;
}

.destination-card p {
    font-size: 1rem;
    margin: 8px 0;
    color: #5d4037;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background: #fdf7f2;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 12px;
    border: 1px solid #bfa58f;
    border-radius: 8px;
    font-size: 1rem;
}

button {
    background: #6d4c41;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background: #5d4037;
}
